@import './src/scss/_vars';

.container {
  background-color: $yellow;
  padding: 8px 0;
  display: grid;
  grid-template-columns: 1fr minmax($min-layout, $max-layout) 1fr;
}

.search-bar {
  grid-column: 2;
  display: grid;
  grid-template-columns: 80px 1fr 40px;
  &__input {
    width: 100%;
    border: 0;
    padding: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: $grey;
  }
  &__button {
    border: 0;
    cursor: pointer;
  }
}
