<app-search-bar (queryOutput)="search($event)"></app-search-bar>
<section class="container">
  <div class="categories" *ngIf="!loading">
    <span class="categories__category" *ngFor="let category of categories; let last = last"
      >{{ category }} <span *ngIf="!last"> > </span></span
    >
  </div>
  <div class="categories" *ngIf="loading">
    <div class="animated-background animated-background--categories"></div>
  </div>

  <div class="items" *ngFor="let item of items">
    <div class="items__item" *ngIf="!loading" (click)="goToDetail(item.id)">
      <figure>
        <img class="picture" [src]="item.picture" alt="" />
      </figure>
      <div class="description">
        <p class="description__price">
          {{ item.price.amount | currency: item.price.currency:'$ ' }} <img *ngIf="item.shipping" src="/assets/shipping.png" alt="free shipping icon" />
        </p>
        <p class="description__title">{{ item.title }}</p>
      </div>
      <div class="state">
        <span class="state__name">{{ item.state_name }}</span>
      </div>
    </div>
  </div>
  <div class="items" *ngIf="loading">
    <div class="items__item">
      <div class="animated-background animated-background--image"></div>
      <div class="description">
        <div class="animated-background animated-background--description"></div>
        <div class="animated-background animated-background--title"></div>
      </div>
      <div class="state">
        <div class="animated-background animated-background--state"></div>
      </div>
    </div>
  </div>
</section>
